body {
    background-color: #d7d7d7;
    font-family: 'Muli', sans-serif;
}

.container {
    display: grid;
    grid-template-areas: 
    "nav content";
    
    grid-template-columns: 2fr 12fr;
    grid-template-rows: 100vh;
    grid-gap: 20px;
    height: 100vh;
    align-items: stretch;
}

.main-content {
    grid-area: content;
}

.main-content header {
    font-size: 36px;
    font-weight: 700;
    text-align: left;
}

.main-content li, .main-content p {
    line-height: 150%;
    font-size: 16px;
    padding: 10px;
}

.code {
    display: block;
    color: #ca0b0b;
    white-space: pre-line;
    word-break: normal;
    background-color: #333;
    padding: 15px;
    margin: auto;
    width: 20vw;
    font-family: 'Inconsolata', monospace;
}

.or-code {
    text-align: center;
}

.nav {
    grid-area: nav;
    position: fixed;
    border-right: 2px solid #8e9294;
    height: 100%;
    width: 230px;
}

.nav header {
    padding: 20px;
    border-bottom: 3px solid #000;
    font-size: 24px;
    font-weight: 700;
}

.nav ul {
    list-style-type: none;
    padding-left: 0;
    height: 100%;
}

.nav li {
    display: block;
    line-height: 5px;
    border-bottom: 1px solid #000;
    padding: 10px;
    font-size: .9em;
}

.nav a, .nav a:hover {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    width: 100%;
    box-sizing: border-box;
    color: #333;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "nav"
      "content";

    grid-template-columns: 1fr;
    grid-template-rows: minmax(75px, auto) 1fr;
  }
  
  .main-content {
      display: block;
      margin: auto;
      position: relative;
      padding-top: 30px;
  }
  
  .nav {
      display: block;
      position: absolute;
      width: 100vw;
      height: 10%;
      z-index: 100;
  }
  
  .nav ul {
      list-style-type: none;
      padding: 0;
      height: 3em;
  }

  .nav li {
    display: inline-block;
    margin: 0;
    font-size: .75em;
    padding: 0;
  }
}